 html{
background-image:url("When-is-Holi-2022-Date-in-India.jpg") ;
background-position-x: center;
text-align: center;
padding-top: 300PX;
padding-left: 100px;
}
#ORI{
    color: green;
}
#ori2{
    color:blue;
}
#ori3{
    color:yellow;
}
img{
    width: 300px;
    h
}